{% load static %}


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #465094;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand mt-2 mt-lg-0" href="/">
            <img src="{% static 'logo.png' %}" height="60px" alt="MDB Logo" loading="lazy" />
        </a>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">

            <ul class="navbar-nav  mb-2 mb-lg-0">

                <li class="nav-item ">
                    <a class="nav-link text-light" href="/" style="font-size:larger;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/about" style="font-size:larger;">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light" href="/contact" style="font-size:larger;">Contact</a>
                </li>

                <form class="d-flex" role="search" style="margin-left: 45px;">
                    <input class="form-control me-2" type="search" placeholder="Search Product" aria-label="Search"
                        style="height: 45px; color: black; margin-top: 5px;">
                    <button class="btn btn-outline-secondary" type="submit"
                        style="color: white; border-color: white; height: 45px; margin-top: 5px;">Search</button>
                </form>

            </ul>

        </div>

        <div class="d-flex align-items-center">
            {% if user.is_authenticated %}

            <div class="nav-item" style=" position:absolute; left: 90%;">
                <a class="nav-link text-light" href="users/login" style="font-size:large;">

                </a>
            </div>

            <button type="button" class="btn btn-secondary mx-4" id="popcart" data-container="body"
                data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus
            sagittis lacus vel augue laoreet rutrum faucibus.">


                Cart(<span id="cart">0</span>)
            </button>


            <div>
                <a href="/profile" id="navbarDropdownMenuAvatar">
                    <img src="{% static 'logo.png' %}" class="rounded-circle" height="40" alt="Profile" loading="eager"
                        style="background-color: aliceblue;" />
                </a>
            </div>

            {% else %}

            <div class="nav-item" style=" position:absolute; left: 90%;">
                <a class="nav-link text-light" href="users/login" style="font-size:large;">Log in</a>
            </div>

            <div class="nav-item" style=" position:absolute; left: 94%;">
                <a class="nav-link text-light" href="users/signup" style="font-size:large;">Sign up</a>
            </div>


            {% endif %}


        </div>
    </div>
</nav>