{% extends 'base.html' %}

{% block title %} Welcome {% endblock %}

{% block css %}
<style>
    .order-successful-text {
        font-family: Oswald;
        font-size: 2.25em;
        font-weight: bold;
        color: #444444;
        text-align: center;
        background-color: #f3fac1;
    }

    .heading {
        margin-top: 30px;
    }

    .my-order {
        width: 90%;
        align-items: center;
    }

    .red-bg {
        width: 100%;
    }
</style>

{%endblock%}

{% block content %}

<div class="heading">
    <p class="order-successful-text"> TRACK YOUR ORDER </p>
</div>



{% for order in orders %}

<div class="list-group my-2 mx-2" style="border: 2px solid black; ">
    <a href="tracker/{{order.0}}" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Name : {{ order.1 }}</h5>
            <small>{{ order.2 }}</small>
        </div>
        {% for item in order %}
        {% if forloop.counter > 3 %}
        <hr>
        <p class="mb-1">Product: {{ item.1 }}</p>
        <p class="mb-1">Quantity: {{ item.0 }}</p>
        <small>Price : {{ item.2 }}Rs.</small>
        {% if not forloop.last %}
        <hr>
        {% endif %}
        {% endif %}

        {% endfor %}
    </a>
</div>


{% empty %}

<div class="empty">
    <div class="heading"
        style="padding: 20px; margin: 20px; font-weight: bolder; background-color: rgb(207, 243, 243);">
        <h2>Currently Unavailable</h2>
    </div>

    <div style="display: block; margin-right: 30px; text-align: center; margin: 0 auto;">
        <a href="/" style="text-decoration: none;">
            <button type="button" class="btn btn-primary btn-sm">Go to Home !!</button>
        </a>
        <a href="" style="text-decoration: none;">
            <button type="button" class="btn btn-secondary btn-sm">Small button</button>
        </a>
    </div>

</div>

{% endfor %}






{% endblock %}